<footer class="footer container-fluid">
  <div class="row text-center">
    <div class="col bg-light text-muted">
      <ul class="list-unstyled">
          <li>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/brizzledev" target="_blank">Facebook</a></li>
              <li class="list-inline-item"><a href="https://www.twitter.com/brizzledev" target="_blank">Twitter</a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/brizzeldev" target="_blank">Instgram</a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/bryancbailey" target="_blank">LinkedIn</a></li>
              <li class="list-inline-item"><a href="https://www.github.com/Rigil-Kent" target="_blank">Github</a></li>
            </ul>
          </li>

          <li><small>Copyright&copy; 2019 | Bryan Bailey</small></li>
      </ul>
      
    </div>
  </div>
</footer>