{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1>Music Services</h1>
    <div class="row">
        <div class="col-4">
            <div class="columns">
                <ul class="price">
                    <li class="header">Piano</li>
                    <li class="grey"><strong>$250</strong></li>
                    <li>Solo singer/guitar player or pianist for ceremony</li>
                    <li class="grey"><strong>$250</strong></li>
                    <li>Solo singer/guitar player or pianist for reception</li>
                    <li class="grey"><strong>$50</strong></li>
                    <li>Extra song requests</li>
                    <li class="grey"><strong>$100</strong></li>
                    <li>Extra hour of playing time</li>
                    <li class="grey"><strong>$500</strong></li>
                    <li>Additional Musician(s)</li>
                    <li class="grey"><a href="" class="button">More Info</a></li>
                </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="columns">
                <ul class="price">
                    <li class="header">Production</li>
                    <li class="grey"><strong>$1375</strong></li>
                    <li></li>
                    <li class="grey"><a href="" class="button">More Info</a></li>
                </ul>
        </div>
    </div>

    
</div>
</div>
{% endblock content %}