{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1>Web Services</h1>
    <div class="row">
        <div class="col-4">
            <div class="columns">
                <ul class="price">
                    <li class="header">Starter</li>
                    <li class="grey"><strong>$875</strong></li>
                    <li>Template Design (2 revisions)</li>
                    <li>5 pages ($75 for each additional page)</li>
                    <li>Responsive Mobile first design</li>
                    <li>1 contact form ($75 for ech additional form)</li>
                    <li>Homepage slider with support for 3 slides of content</li>
                    <li>Photo Gallery w/ support for up to 24 photos ($150 for additional sets of 24)</li>
                    <li>**e-commerce functionality <strong>NOT</strong> included</li>
                    <li>**Copy not included</li>
                    <li>Complimentary setup assistance available</li>
                    <li class="grey"><a href="" class="button">More Info</a></li>
                </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="columns">
                <ul class="price">
                    <li class="header">Business</li>
                    <li class="grey"><strong>$1375</strong></li>
                    <li>Custom Design (3 revisions)</li>
                    <li>10 pages ($55 for each additional page)</li>
                    <li>Responsive Mobile first design</li>
                    <li>1 contact form ($50 for ech additional form)</li>
                    <li>Homepage slider with support for 6 slides of content</li>
                    <li>Photo Gallery</li>
                    <li>E-commerce (+$400; +$45 per product)</li>
                    <li>Content Management System</li>
                    <li>Blog</li>
                    <li>**Copy not included</li>
                    <li>Complimentary setup assistance available</li>
                    <li class="grey"><a href="" class="button">More Info</a></li>
                </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="columns">
            <ul class="price">
                <li class="header">Boss</li>
                <li class="grey"><strong>$2450</strong></li>
                <li>Custom Design (5 revision)</li>
                <li>15 pages ($25 for each additional page)</li>
                <li>Responsive Mobile first design</li>
                <li>1 contact form ($25 for ech additional form)</li>
                <li>Homepage slider with CMS support</li>
                <li>Photo Gallery</li>
                <li>E-commerce</li>
                <li>Custom Content Management System</li>
                <li>Streaming Media</li>
                <li>Blog</li>
                <li>**Copy not included</li>
                <li>Complimentary setup assistance available</li>
                <li class="grey"><a href="" class="button">More Info</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock content %}